@font-face {
    font-family: 'MS-Mincho';
    src: url('MS-Mincho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS-PMincho';
    src: url('MS-PMincho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS Mincho';
    src: url('MS-Mincho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS PMincho';
    src: url('MS-PMincho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}