svg foreignObject {
    position: relative;
    z-index: 999;
    line-height: 1.3;
    overflow: visible;
}

svg.editor {}

svg.editor foreignObject::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

/* svg.editor foreignObject>[xmlns] {
    position: revert;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border: 1px dashed red
} */

svg.editor g[id^="icdt-"] foreignObject::after {
    display: none;
}

svg.editor foreignObject>[data-node="test"] {
    border: 1px dashed #be5dba;
    position: relative;
}

/* truefalse */
svg.editor foreignObject>[data-node="test"][data-type="truefalse"]::before,
svg.editor foreignObject>[data-node="test"][data-type="truefalse"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
}

svg.editor foreignObject>[data-node="test"][data-type="truefalse"]::before {
    border: 1px dashed #be5dba;
    /* border-width: 0 1px 1px 0; */
    border-radius: 50%;
}

svg.editor foreignObject>[data-node="test"][data-type="truefalse"][data-correct="1"]::after {
    content: '✔';
    color: #be5dba;
    font-size: 24px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
}

/* singlechoice */
svg.editor foreignObject>[data-node="test"][data-type="singlechoice"]::before,
svg.editor foreignObject>[data-node="test"][data-type="singlechoice"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
}

svg.editor foreignObject>[data-node="test"][data-type="singlechoice"]::before {
    border: 1px dashed #be5dba;
    /* border-width: 0 1px 1px 0; */
    border-radius: 50%;
}

svg.editor foreignObject>[data-node="test"][data-type="singlechoice"][data-correct="1"]::after {
    content: '✔';
    color: #be5dba;
    font-size: 24px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
}

/* multichoice */
svg.editor foreignObject>[data-node="test"][data-type="multichoice"]::before,
svg.editor foreignObject>[data-node="test"][data-type="multichoice"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
}

svg.editor foreignObject>[data-node="test"][data-type="multichoice"]::before {
    border: 1px dashed #be5dba;
    /* border-width: 0 1px 1px 0; */
}

svg.editor foreignObject>[data-node="test"][data-type="multichoice"][data-correct="1"]::after {
    content: '✔';
    color: #be5dba;
    font-size: 24px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
}

/* matching */
svg.editor foreignObject>[data-node="test"][data-type="matching"]::before,
svg.editor foreignObject>[data-node="test"][data-type="matching"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
}

svg.editor foreignObject>[data-node="test"][data-type="matching"]::before {
    border: 1px dashed #be5dba;
    border-width: 0 1px 1px 0;
}

svg.editor foreignObject>[data-node="test"][data-type="matching"][data-type2="matching-empty"]::before {
    background-color: rgba(190, 93, 187, 0.2);
}

svg.editor foreignObject>[data-node="test"][data-type="matching"][data-key]::after {
    content: attr(data-key);
    color: #be5dba;
    font-size: 24px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
}

svg.viewer .hide-on-viewer {
    display: none;
}

svg.viewer foreignObject.interactive-click::after,
svg.viewer foreignObject.variable-click::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    cursor: pointer;
}

svg.viewer foreignObject .ondrag-item {
    cursor: grab;
}

svg foreignObject input[type="text"],
svg foreignObject textarea {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: none;
    outline: none;
}

svg foreignObject h1,
svg foreignObject h2,
svg foreignObject h3,
svg foreignObject h4,
svg foreignObject h5,
svg foreignObject h6 {
    margin: 0;
}

svg foreignObject p:last-child {
    margin: 0;
}

svg .hide {
    display: none;
}

.popup-media-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.popup-media-viewer iframe {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

.popup-media-viewer .btn-close {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    line-height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.popup-media-viewer .btn-close:hover {
    background-color: #eb445a;
}

.popup-media-viewer .btn-close img {
    width: 32px;
    height: 32px;
}